.cafe-qoshish{
  background: linear-gradient(#f59c7b, #832b0c, #ff4603);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  font-family: initial;
  }
  .cafe-qoshish:hover {
  background-color: #f44708;
  transform: scale(1.1);
  font-family: initial;
  }
  .divlar{
  background: linear-gradient(#aecef9d3, #c5e0fb, #bcd8fe);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 18px;
  font-weight: 500; 
  transition: background-color 0.3s ease;
  font-family: initial;
  animation: alternate;
  box-shadow: 0 4px 6px rgba(0, 48, 119, 0.3);
  margin: 29px 0;
  }
  .divlar:hover {
  background-color: #1a77fa;  
  transform: scale(1.02);
  font-family: initial;
  }
  .input{
    background-color: rgba(0, 48, 119, 0.2);
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.5rem 0.75rem;
  border: 1px solid #020c53;
  border-radius: 0.5rem;
  font-size: 14px;
  
  transition: border-color 0.3s ease, box-shadow 0.3s ease;


  }
  .inputs{
    background-color: rgba(60, 135, 247, 0.4);
  width: 100%;
  margin-top: 0.25rem;  
  padding: 0.5rem 0.75rem;
  border: 1px solid #d1d5db;
    box-shadow: 0 4px 6px rgba(0, 48, 119, 0.3);
  border-radius: 10px;
  font-size: 14px;  
  text-emphasis-color: initial;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: black;
  }
  .inputs:hover {
    border-color: #1a77fa;
    box-shadow: 0 4px 6px rgba(0, 48, 119, 0.3);
    color: #1a77fa;
  }

  .button{
    background-color: #1a77fa;
    color: white;
    border: none;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .button:hover {
    background: linear-gradient(#3487fb, #081a35);
    transform: scale(1.1);
  }